<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>

  <body>
    <div><%- include navbar %></div>
      <div class="jumbotron" style="background-color: white;">
        <button type="button" onclick="document.getElementById('modal_project').style.display='block'" class="btn btn-primary">建立專案</button>
        <h5>我的專案</h5>         
        <%- include modal %>
        <h6>專案一</h6>
      </div>
    
  </body>
</html>