<!DOCTYPE html>
<html>
  <%- include headerTag %>
  <body>
    <div style="background-color: #2C3E50; width: 100%; height: 20%; position: absolute;"></div>

    <div style="border:1px #ced4da solid; border-radius: 0.25rem; background-color: white; width:50%; margin:0 auto; position: relative; top:100px">
      <h3 align="center" style="margin-top: 0.5em;">智慧會議系統</h3>  
        <center><table width='70%' height="300px">
          <form >
            <tr height="10px"><td colspan="2"><label for="loginacc" class="col-form-label">帳號(信箱)</label></td></tr>
            <tr><td colspan="2" style="padding-bottom: 10px;"><input type="email" class="form-control" id="loginacc" name="loginacc"></td></tr>
            <tr height="10px"><td colspan="2"><label for="loginpw" class="col-form-label">密碼</label></td></tr>
            <tr><td colspan="2"><input type="password" class="form-control" id="loginpw" name="loginpw"></td></tr>
            <tr><td colspan="2" style="padding-bottom: 10px;">&nbsp;<font color='red' id='message' style="font-size: 80%;"></font></td></tr>
            <tr><td colspan="2">
              <input type="button" class="btn btn-primary" style="width: 100%;" id="btn" value="登入">
            </td></tr>
            <tr>
              <td align="left">忘記密碼？ <a href="/forgetpw">點擊這裡</a></td>
              <td align="right">還沒有帳戶？ <a href="/register">點此註冊</a></td>
            </tr>
          </form>
        </table></center>
        <br>
    </div>

    <script>
      $("#btn").click(function() {   
        var acc_id = $('#loginacc').val();    
        var acc_pw = $('#loginpw').val();        
        if(!acc_id || !acc_pw) {
          $('#message').text("輸入未填欄位");
        }        
        else{
          $.ajax({
            url:"/login",
            data:{'account': acc_id, 'password': acc_pw},
            type:"POST",
            success: function(res){
              if(res.status == 1) {
                $('#message').text(res.msg);
              }              
              else{
                location.href = '/';
              }
            }
          })        
        }      
      })
    </script>
    
  </body>
</html>