<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
  <!-- <button id ='see' data-url='../minute/<%= rec_name %>'>預覽</button> -->
  <div class="jumbotron" style=" padding-top: 3rem;" id ='see' data-url='../minute/<%= rec_name %>'>
    <div id="output"></div>
  </div>
           
</body>
  <script src="https://cdn.bootcss.com/mammoth/1.4.8/mammoth.browser.js"></script>
  <script src="../javascripts/demo.js"></script>
</html>